<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Louis Durut">
        <meta name="copyright" content="OSENGO by AFORMAC">
        <meta name="description" content="Ckavier virtuel">
        <meta name="keywords" content="clavier, virtuel, louis">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="">
        <link rel="stylesheet" href="style.css">
        
        <title>Clavier virtuel - Louis Durut</title>
    </head>
<body>
    
</body>
</html>